*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  background: #fff;
}
body, a{
  font: 16px/23px Roboto-Regular;
  text-decoration: none;
}
ul li{
	list-style-type: none;
}

time{
	display: block;
	font: 14px Roboto-Regular;
	color: #ababab;
	margin-bottom: 10px;
}

h2 a{
	display: inline-block;
	font: 22px Roboto-Medium;
	line-height: 1.5em;
	color: #444444;
	margin-bottom: 16px;
}