*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  background: #fff;
}
body, a{
  font: 16px/23px Roboto-Regular;
  text-decoration: none;
}
ul li{
	list-style-type: none;
}

time{
	display: inline-block;
	font: 14px Roboto-Light;
	color: #ababab;
	margin-bottom: 26px;
}

h1{
	font: 32px Roboto-Light;
	color: #444;
	margin-bottom: 25px;
}

h2, h2 a{
	font: 28px Roboto-Regular;
	color: #444;
	margin-bottom: 37px;
	display: block;
}

h3 a{
	display: inline-block;
	font: 26px Roboto-Medium;
	line-height: 1.5em;
	color: #4e4e4e;
	margin-bottom: 40px;
}

h4 a{
	font: 22px Roboto-Medium;
	color: #444;
	line-height: 1.5em;
	padding-bottom: 20px;
	margin-bottom: 27px;
	border-bottom: 1px solid #ededed;
	display: block;
}

input{
	height: 38px;
	width: 192px;
	border: 1px solid #3c3d3f;
	background: #232427;
	font: 14px Roboto-Light;
	color: #ababab;
	padding: 0 15px;
	margin-bottom: 15px;
	&[type="password"]{
		margin-bottom: 33px;
	}
	&[type="submit"]{
		height: 38px;
		width: 118px;
		padding: 0;
		border: 1px solid #c0c0c0;
		color: #ffffff;
		font: 14px Roboto-Regular;
		margin-bottom: 31px;
		cursor: pointer;
		&.blue{
			border: none;
			height: 40px;
			width: 120px;
			background: #2495bc;
			margin-bottom: 191px;
		}
		&:hover{
			background: #3A3A3A;
		}
	}
}