@import "fonts.less";
@import "basic.less";
@import "mixins.less";

/*------------------Sidebar styles ----------------------*/
.sidebar{
  width: 288px;
  min-height: 100%;
  background: #232427;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  .logotype{
    padding: 100px 55px;
  }
  .navigation ul > li{
 		&:last-child span{
 			border-bottom: 1px solid #1d1e21;
 		}
		span{
			display: block;
			height: 63px;
 			font: 16px Roboto-Regular;
 			color: rgba(255, 255, 255, 0.7);
 			text-align: center;
 			line-height: 63px;
 			border-top: 1px solid #1d1e21;
 			position: relative;
 			&:hover{
				color: rgba(251, 218, 89, 0.7);
				cursor: pointer;
				background: #26282a;
			}
   	}	
  }
  .toggle-menu{ 
  		position: absolute;
  		top: 376px;
  		width: 288px;
  		left: 288px;
			.hidden;
	  li{
	  	&:last-child a{
	 			border-bottom: 1px solid #1d1e21;
	 		}
			a{
				display: block;
				height: 63px;
	 			font: 16px Roboto-Regular;
 				color: rgba(255, 255, 255, 0.7);
	 			text-align: center;
	 			line-height: 63px;
 				border-top: 1px solid #1d1e21;
	 			&:hover{
					color: rgba(251, 218, 89, 0.7);
					cursor: pointer;
					background: #26282a;
				}
	   	}
		}	
	}
}

/*------------------Content layout styles ----------------------*/
.wrapper{
	height: 100%;
	padding-left: 288px;	
	.content{
		.article{
			border-bottom: 1px solid #ededed;
			font: 16px Roboto-Regular;
			color: #666666;
			line-height: 1.5em;
			padding: 39px 48px 48px 48px;
			.article-header{
			}
			.article-content{
				margin-bottom: 54px;
			}
			.article-footer{
				.article-tags{
					margin-bottom: 40px;
					li{
						display: inline;
						a{
							color: #ababab;
							font: 14px Roboto-Regular;
							margin-right: 6px;
							&:hover{
								color: #2495bc;
							}
						}
					}
				}
			}
		}
	}
}
