@import "fonts.less";
@import "mixins.less";
@import "basic.less";
@import "article.less";

.panel{
  width: 46px;
  min-height: 100%;
  position: fixed;
  border-left: 2px solid #2495bc;
  padding-top: 95px;
  background: -moz-linear-gradient(top,  #2a2c2e 0%, #1a1b1e 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #2a2c2e 0%,#1a1b1e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2a2c2e 0%,#1a1b1e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2a2c2e 0%,#1a1b1e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2a2c2e 0%,#1a1b1e 100%); /* W3C */

  .logo{
    display: block;
    width: 46px;
    height: 30px;
    text-align: center;
    margin-bottom: 60px;
  }

  nav{
    div{
      width: 46px;
      height: 48px;
      background: url("../img/icons.png") 14px 19px no-repeat;
      cursor: pointer;
      &:hover{
        background-color: #2495bc;
      }
      &:nth-child(2){
        background-position: 14px -29px;
      }
      &:nth-child(3){
        background-position: 14px -77px;
      }
      &:nth-child(4){
        background-position: 14px -124px;
      }
    }
  }
}

.pagination{
  margin: 0 auto;
  max-width: 401px;
  a{
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border: 1px solid #c0c0c0;
    text-align: center;
    line-height: 38px;
    color: #b1b1b1;
    text-decoration: none;
    &:hover{
      color: #fff;
      background: #2495bc;
      border-color: #2495bc;
    }
    &:nth-child(2){
      margin-right: 30px;
    }
    &:nth-child(5){
      margin-right: 30px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

aside{
  .aside-title{
    font: 22px/42px 'robotoregular';
  }
  .info{
    width: 344px;
    height: 208px;
    background: #adadad;
    margin-bottom: 8px;
  }
}

.back-button{
  display: inline-block;
  width: 46px;
  height: 46px;
  background: url("../img/icons.png") 14px -292px no-repeat;
  border: 1px solid #c0c0c0;
  vertical-align: middle;
  margin-right: 24px;
  cursor: pointer;
}
.breadcrumbs{
  display: inline-block;
  color: #ababab;
  a{
    color: #ababab;
  }
  span{
    color: #2495bc;
  }
}

.content-title{
  font: 22px/42px 'robotoregular';
}