@import "fonts.less";
@import "basic.less";
@import "mixins.less";

/*------------------Sidebar styles ----------------------*/
.sidebar{
  width: 288px;
  min-height: 100%;
  background: #26272a;
  .ma;
  .logotype{
    padding: 100px 55px;
  }

  .navigation{
   
  }
}