@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/roboto-regular.eot');
  src: url('./fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/roboto-regular.woff') format('woff'),
  url('./fonts/roboto-regular.ttf') format('truetype'),
  url('./fonts/roboto-regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('roboto-light.eot');
  src: url('roboto-light.eot?#iefix') format('embedded-opentype'),
	url('roboto-light.woff') format('woff'),
	url('roboto-light.ttf') format('truetype'),
	url('roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('roboto-medium.eot');
  src: url('roboto-medium.eot?#iefix') format('embedded-opentype'),
	url('roboto-medium.woff') format('woff'),
	url('roboto-medium.ttf') format('truetype'),
	url('roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
	font-family: 'roboto_condensedlight';
	src: url('robotocondensed-light.eot');
	src: url('robotocondensed-light.eot?#iefix') format('embedded-opentype'),
	url('robotocondensed-light.woff') format('woff'),
	url('robotocondensed-light.ttf') format('truetype'),
	url('robotocondensed-light.svg#roboto_condensedlight') format('svg');
	font-weight: normal;
	font-style: normal;

}