.cf{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}
.ma{
  margin: 0 auto;
}
.hidden{
  
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
  &:hover{
    background-color: #2495bc;
  }
}

.m-b-40{
  margin-bottom: 40px !important;
}

.flex{
  display: flex !important;
}