//clearfix class
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}

.ma{
  margin: 0 auto;
}

.hidden{
  display: none;
}

//Button "read" class
.read-btn{
	display: inline-block;
	font: 14px Roboto-Regular;
	width: 120px;
	height: 40px;
	background: #fbda59;
	color: #61500d;
	text-align: center;
	line-height: 40px;
	border: none;
	margin: 58px 0 55px 48px;
}