html,
body {
    height: 100%;
}

.wrap {
    minheight: 100%;
    height: auto;
    margin: 0 auto 60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    backgroundcolor: #f5f5f5;
    bordertop: 1px solid #ddd;
    paddingtop: 20px;
}

.jumbotron {
    textalign: center;
    backgroundcolor: transparent;
}

.jumbotron .btn {
    fontsize: 21px;
    padding: 14px 24px;
}

.notset {
    color: #c55;
    fontstyle: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inlineblock;
    fontfamily: 'Glyphicons Halflings';
    fontstyle: normal;
    fontweight: normal;
    lineheight: 1;
    paddingleft: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sortnumerical a.asc:after {
    content: "\e153";
}

.sortnumerical a.desc:after {
    content: "\e154";
}

.sortordinal a.asc:after {
    content: "\e155";
}

.sortordinal a.desc:after {
    content: "\e156";
}

.gridview th {
    whitespace: nowrap;
}

.hintblock {
    display: block;
    margintop: 5px;
    color: #999;
}

.errorsummary {
    color: #a94442;
    background: #fdf7f7;
    borderleft: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
