.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.ma {
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #2495bc;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.flex {
  display: flex !important;
}
